Protocol 2

LogLevel VERBOSE

HostKey /etc/ssh/ssh_host_ed25519_key

KexAlgorithms curve25519-sha256@libssh.org
Ciphers       chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs          hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com

PasswordAuthentication       no
KbdInteractiveAuthentication no
PubkeyAuthentication         yes
HostbasedAuthentication      no
KerberosAuthentication       no
GSSAPIAuthentication         no

AuthenticationMethods        publickey
PermitRootLogin              no
UsePAM                       no

AllowUsers lukas

AcceptEnv LANG LC_*

ClientAliveInterval  120
ClientAliveCountMax  2
AllowAgentForwarding no
AllowTcpForwarding   no
X11Forwarding        no
PrintMotd            no
Banner               no
DebianBanner         no

Subsystem sftp  /usr/lib/ssh/sftp-server -f AUTHPRIV -l INFO